.App {
  text-align: center;
}
html,body
{
    width: 100%;
    overflow-x: hidden; 
}

a {
  color: #c8102e;
}

.carousel-indicators{
    display:none;
}

.parallax { height: 200px; background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;	 }


.display-1{	font-size: 3rem;}
@media (min-width: 480px){
	.display-1 {
		font-size: 4rem;
	}
}
@media (min-width: 768px){
	.display-1 {
		font-size: 6rem;
	}
}
@media (min-width: 1024px){
	.display-1 {
		font-size: 6rem;
	}
}
