.ourmission h4 {
    font-family: 'Molengo', sans-serif;
}
.img-thumbnail {
    height: 80px;
    width: 80px;
}
.carousel-control-next-icon {
    margin-right: 90px;
}
.carousel-control-prev {
    color: red;
}
.carousel-control-next-icon {
    color: black;
}
.carousel {
    /* border: 3px solid blue; */
    height: 500px;
    width: 500px;
    margin-bottom: 20px;
}
/* .carousel-inner {
    border: 3px solid red;
    height: 100%;
    width: 100%;
    object-fit: contain;
} */
/* .carousel-item {
    border: 3px solid green;
    width: auto;
    max-width: 400px;
    height: auto;
    max-height: 400px;
    height: 100%;
    width: 100%;
    object-fit: contain;
} */
/* .carousel-item img {
    max-width: 100%;
    max-height: 100%;
} */
.portrait {
    height: 480px;
    width: 360px;
}
.landscape {
    height: 360px;
    width: 480px;
}
.square {
    padding-top: 20px;
    height: 400px;
    width: 480px;
}
.anyClass {
    /* border: 3px solid grey; */
    height: 480px;
    overflow-y: scroll;
  }
.nav-item img {
    height: 80px;
    width: 80px;
    padding: 3px
}
#image2 {
    width: 254px;
    height: 480px;
}