.cartItem {
	max-width: 50%;
	min-width:220px;
	display: inline-block;
	text-align: center;
	
}

.shoppingImg {
	max-width: 70%;
	
	border-radius: 10px;
}

.cartForm .ShoppingOptions{
	height: 120px;
	text-align: center;
}

.cartForm .ShoppingOptions table {
	min-width: 100%;
}

.cartButton{
	margin-top: 5px;
}