.cartItem {
	max-width: 50%;
	min-width:220px;
	display: inline-block;
	text-align: center;
	margin-bottom: 2rem;	
}
.shop {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.display-1{
	margin:  0px;
	max-width: 100%;
	font-size: 6rem;
}

.shoppingImg {
	width: 70%;
	height: 40%;	
	border-radius: 10px;
}

.cartForm .ShoppingOptions{
	height: 120px;
	text-align: center;
}

.cartForm .ShoppingOptions table {
	min-width: 100%;
}

.cartButton{
	margin-top: 5px;
}

@media (min-width: 480px){
	.shoppingImg {
		height: 8rem;
	}
	.display-1 {
		font-size: 4rem;
	}
}

@media (min-width: 768px){
	.shoppingImg {
		height: 10rem;
	}
	.display-1 {
		font-size: 6rem;
	}
}


@media (min-width: 1024px){
	.shoppingImg {
		height: 13rem;
	}
	.display-1 {
		font-size: 6rem;
	}
}




