
#footer {
  background: #c30600;
  color: white;
  margin-bottom: 0px;
  position: relative;
  margin-top: 180px;
  /* negative value of footer height */
  /* height: 180px;
  clear: both; */

}
.table {
  margin-bottom: 0px;
}
.footermedialink {
  margin-right: 20px;
  font-size: 28px;
  color: white;
}

.footermedialink:hover {
  /* color: white; */
  filter: invert(100%);
  /* text-decoration: underline; */
}