.socialmedialink {
  margin-right: 20px;
  font-size: 35px;
  color: red;
}

.socialmedialink:hover {
  color: black;
  /* filter: invert(100%); */
  /* text-decoration: underline; */
}
.title{
  margin-top: 2rem;
}
.landing {
  background: url('../../images/Logos/background.jpg');
  background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    position: relative;
}
#toptext {
  margin-top: 6rem;
  margin-bottom: 6rem;
  font-size: 4rem;
}
#bottomtext {
  font-size: 2rem;
  margin-top: 10rem;
  margin-bottom:5rem;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 240px){
  #toptext{
    font-size: 2rem;
  }
  #bottomtext{
    font-size: 2rem;
    margin-top: 10rem;
  }
  .logo{
    height: 200px;
  }
}
@media (min-width: 480px){
  #toptext{
    font-size:2rem;
  }
  #bottomtext{
    font-size: 2rem;
    margin-top: 8rem;

  }
  .logo{
    height: 220px;
  }

}

@media (min-width: 768px){
  #toptext{
    font-size:3rem;
  }
  #bottomtext{
    font-size:3rem;
    margin-top: 7rem;

  }
  .logo{
    height: 280px;
  }
}


@media
only screen and (min-width: 1024px){
  #toptext{
    font-size:4rem;
  }
  #bottomtext{
    font-size:4rem;
    margin-top: 6rem;
  }
  .logo{
    height: 320px;
  }
}

.logo {
  top: 30%;
  height: 360px;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}