.socialmedialink {
  margin-right: 20px;
  font-size: 35px;
  color: red;
}

.socialmedialink:hover {
  color: black;
  /* filter: invert(100%); */
  /* text-decoration: underline; */
}
.title{
  margin-top: 2rem;
}
.landing {
  background: url('../../images/Logos/background.jpg');
  background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    position: relative;
}
#toptext {
  margin-top: 3rem;
  font-size: 3rem;
  font-family: 'Great Vibes', cursive;

}
#bottomtext {
  font-size: 2rem;
  margin-bottom:3rem;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  top: 30%;
  height: 200px;
  animation: App-logo-spin infinite 20s linear;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4) 50%, rgba(0,0,0,0) 70%);

}
@media (min-width: 240px){
  #toptext{
    font-size: 3rem;
  }
  #bottomtext{
    font-size: 2rem;
  }
  .logo{
    height: 240px;
  }
}
@media (min-width: 480px){
  #toptext{
    font-size:3rem;
  }
  #bottomtext{
    font-size: 2rem;
  }
  .logo{
    height: 260px;
  }

}

@media (min-width: 768px){
  #toptext{
    font-size:4rem;
  }
  #bottomtext{
    font-size:3rem;
  }
  .logo{
    height: 320px;
  }
}


@media
only screen and (min-width: 1024px){
  #toptext{
    font-size:5rem;
  }
  #bottomtext{
    font-size:4rem;
  }
  .logo{
    height: 360px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
