.navbarmedialink {
  margin-right: 20px;
  font-size: 28px;
  color: gray;
}

#navbartext {
	font-size: 4rem;
	color: #c8102e;
  font-family: 'Great Vibes', cursive;
}

#buttonspace {
  margin: 10px 10px 0px 0px;
	position: absolute;
  right: 0; 
}

@media (min-width: 480px){
	#navbartext {
		font-size: 3rem;
	}
}

@media (min-width: 768px){
	#navbartext {
		font-size: 4rem;
	}
}

@media (min-width: 1024px){
	#navbartext {
		font-size: 5rem;
	}
}

.textmargin {
	margin-top: 10px;
	width: auto;
}