.ourmission h4 {
    font-family: 'Molengo', sans-serif;
}

.img-thumbnail {
    height: 80px;
    width: 80px;
}

.carousel {
    width: 900px;
    height: 600px;
    margin: auto;
}

.portrait {
    height: 480px;
    width: 360px;
}
.landscape {
    height: 360px;
    width: 480px;
}
.square {
    padding-top: 20px;
    height: 400px;
    width: 480px;
}
.anyClass {
    /* border: 3px solid grey; */
    height: 480px;
    overflow-y: scroll;
  }
.nav-item img {
    height: 80px;
    width: 80px;
    padding: 3px
}