h1 {
    text-align: center;
}

button {
    margin: 4px 0px 8px 0px;
}

col {
    text-align: center;
}

.programs{
	margin-bottom: 1rem;
}

.winter {
    color: blue;
}

.other {
    color: #c8102e;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}