
.cartItem {
	width:340px;

	display: inline-block;
	text-align: center;
	justify-content: center;
	vertical-align: top;
}

.new{
	text-align: center;
}

.cartItem:hover > .line{
		background-color: #cb000b;
}

.line{
	height:1px;
	width:60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-top: 1rem;
	background-color: #d2d9df; 
}

.regularItem{
	position:relative;
	width:70%;
	display:inline-block;
}

.newItem{
	position:relative;
	width:70%;
	display:inline-block;

}

h4:hover{
	color:##c8102e;

}

.newItem img {
    position:relative;    
}

.newItem:after {
	position: absolute;
	background: url(../../images/Shop/newItemBadge.png);
	background-size: cover;
	right:0;
	
	width:80px;
	height: 80px;
	margin-top: -1px;
	margin-right: -2px;

	content:' ';
}

.shoparea{
	text-align: center;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

.display-1{
	margin:  0px;
	max-width: 100%;
}

.shoppingImg {
	width: 100%;
	height: 10rem;	
	border-radius: 10px;
}
.fire{
	width: 5%;
	height: 2rem;
}
.star{
	width: 8%;
	height: 2rem;
}
.cartForm .ShoppingOptions{
	height: 120px;
	text-align: center;
}

.cartForm .ShoppingOptions table {
	min-width: 100%;
}

.cartButton{
	margin-top: 5px;
}

.cartItem p{
	padding-left:1rem;
	padding-right: 1rem;
}

@media (min-width: 480px){
	.shoppingImg {
		height: 10rem;
	}
}

@media (min-width: 768px){
	.shoppingImg {
		height: 11rem;
	}
}


@media (min-width: 1024px){
	.shoppingImg {
		height: 12rem;
	}
}




